@import 'ant-design-vue/dist/antd.less';

// The prefix to use on all css classes from ant-pro.
@nop-prefix: beoop;
@nop-global-sider-zindex: 106;
@nop-global-header-zindex: 105;

@font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5fae\8f6f\96c5\9ed1, Arial,
  sans-serif;

@layout-header-height: 48px;
@layout-header-padding: 0 12px;
@layout-header-background: #fff;

@text-color: #37474f;
